@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

@layer base {
  h1 {
    @apply text-5xl font-black;
  }
  h2 {
    @apply text-4xl font-black;
  }
  h3 {
    @apply text-3xl font-black;
  }
  h4 {
    @apply text-2xl font-black;
  }
  h5 {
    @apply text-xl font-black;
  }
  a, p {
    @apply text-base;
  }
}

@layer utilities {
  .nx-rich-text {
    @apply overflow-wrap-anywhere;
  }

  .nx-rich-text ol {
    list-style-type: decimal;
  }

  .nx-rich-text ul {
    list-style-type: disc;
  }

  .nx-rich-text ul,
  .nx-rich-text ol {
    list-style-position: inside;
  }

  .nx-rich-text li > * {
    display: inline;
  }

  .nx-rich-text p:empty {
    padding-bottom: 1rem;
  }
}

@layer components {
  .overflow-wrap-anywhere {
    overflow-wrap: anywhere;
    word-break: break-word;
  }
}
